@media screen and (min-width: 320px) {

	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.row {
		display: flex;
		flex-direction: column;
	}

	.col {
		display: flex;
		flex-direction: column;
	}

	.col a {
		display: flex;
		align-self: flex-start;
	}

	.primary {
		display: flex;
		flex-direction: column;
	}

	.secondary {
		display: flex;
		flex-direction: column;
	}

	.tertiary {
		display: flex;
		flex-direction: column;
	}
}



@media screen and (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

}

@media screen and (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-around;
	}

	.row {
		display: flex;
		justify-content: space-around;
	}

















}